extends ../layout/layout.pug

include ../mixins/createProduct.pug

block content
    div(class="w-full h-full")
        div(class="w-full h-full p-3 flex flex-wrap gap-x-5 items-center ")
            each product in products
                +createProduct(product)
                        
