extends layout/layout.pug

block content
    div(class='w-2/3 h-full    ')
        div(class='w-full h-full flex justify-center gap-x-3')
            input(class='border border-1 p-3 ' type='text')
            button(class='p-3 bg-blue-300 block') Add
