ul(class="w-full")
    li(class="py-3 border border-1 flex items-center justify-center") Category 1
    li(class="py-3 border border-1 flex items-center justify-center") Category 2
    li(class="py-3 border border-1 flex items-center justify-center") Category 3
