nav(class="w-full h-[100px] bg-[#F4F6F6] flex")
    div(class="text-3xl w-1/3 h-full flex justify-center items-center")
        | BRAND
    div(class="w-2/3")
        ul(class="w-full h-full flex gap-x-5 items-center justify-center")
            li HOME
            li PRODUCT
            li CONTACT